<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Profile Picture</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone No.</th>

    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= image_tag url_for(student.image), size: "64" if student.image.attached? %></td>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= student.phone_no %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


