<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone No:</strong>
  <%= @student.phone_no %>
</p>



<% if @student.image.attached? %>
    
<%= image_tag url_for(@student.image), size: "64"%>
<% end %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
