<p id="notice"><%= notice %></p>


<p>
  <strong>Book name:</strong>
  <%= @book.book_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Author Name:</strong>
  <%= @book.author_name %>
</p>

<p>
<strong>Receiving Date:</strong>
<%= @book.receiving_date = DateTime.now %>
</p>

<p>
  <strong>Submission Date:</strong>
  <%= @book.submission_date = DateTime.now + 7.days %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
